<li>
    <span class="item">
      <span class="item-left">
          <img src="/productImages/{{item.productImageName}}" alt="{{item.imageAlt}}" />
          <span class="item-info">
            {{#if item.productAvailable}}
              <span><strong>#{{item.productNumber}}</strong></span>
              <span><strong>{{item.productName}}</strong></span>
              <span>Price: ${{item.price}}</span>
              <span>Quantity: {{input value=item.quantity enter="updateQuantity"}}</span>
              {{yield}}
            {{else}}
              <span><strong>{{item.productName}}</strong></span>
              <div class="alert alert-danger">
                Product is not available, please remove it from your cart.
              </div>
            {{/if}}
          </span>
      </span>
      <span class="item-right">
          <button class="btn btn-xs btn-danger pull-right" {{action "removeFromCart" item}}>x</button>
      </span>
  </span>
</li>
